.modalOpen{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 400px;
    color:#000;
    border-radius: 30px;
    background-color: rgb(255, 234, 198);
}

.close{
    display: flex;
    .modal-name{
        font-size: 2rem;
        padding: 20px;
        font-weight: 600;
        margin: 0 auto;
    }
}

.close >i {
    justify-content: end;
    font-size: 3rem;
    box-sizing: border-box;
    margin: 20px;
    color: rgba(0,0,0,0.5);
}

.modal-info{
    display: flex;
    .modal-image {
        padding: 0 50px 50px 70px;
        width: 100%;
        max-width: 250px;
    }
    .infomation {
        margin-top: 20px;
        padding: 60px;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        font-weight: 600;
        box-sizing: border-box;
        .modal-type {
    
        }
    }
    .info{
        padding-bottom: 15px;
    }
}




