* {
  padding: 0;
  margin: 0;
}

.hover {
  cursor: pointer;
}

.invisible {
  position: absolute;
  left: 999999px;
}

.pokemon-container {
} //마진 0auto를 여기서 줘야함

.typeInfo {
padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  .type-name{
    height: 20px;
    padding: 10px;
    background-color: rgb(247, 158, 255);
    border-radius: 30px;
    margin-right: 5px;

  }

}

.all-container {
  max-width: 1400px;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.thumb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  border-radius: 20px;
  list-style: none;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: rgba(253, 246, 234, 0.664);
  box-shadow: 2px 2px 5px  rgb(211, 211, 211);

  .top-line {
    display: flex;
    margin-left: 10px;
    font-size: 0.8rem;
  }

  .image {
    width: 100%;
    max-width: 200px;
  }
  
  .number {
    height: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px;
    background-color: rgb(0, 174, 255);
    color: aliceblue;
    font-weight: bold;
  }

  .detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .NameType{
    display: flex;
  }
  
  .type{
    margin-left: 5px;
    color: #fff;
  background-color: rgb(63, 255, 191);
  padding: 5px;
  border-radius: 20px;

}
  .name {
    display: inline-block;
    color: #fff;
    background-color: #ffcc5f;
    padding: 7px;
    border-radius: 20px;
  }
}


span {
  position: absolute;
  bottom: 40px;
  display: inline-block;
  line-height: 30px;
  width: 100px;
  height: 30px;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-width: 600px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  img {
    margin-left: 20px;
    width: 180px;
  }
  form {
    position: relative;
    .searchInput {
      width: 300px;
      height: 20px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 30px;
      box-shadow: 2px 2px 7px  rgb(204, 204, 204);
    }
    .searchInputInBar {
      position: absolute;
      top: 5px;
      right: 40px;
      width: 1px;
      height: 32px;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .searchBtn {
      position: absolute;
      top: 5.3px;
      right: 5px;
      font-size: 1rem;
      color: #fff;
      background-color: rgb(58, 91, 255);
      padding: 7px;
      border: transparent;
      border-radius: 50%;
    }
  }
  .login {
    display: block;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    border: transparent;
    background-color: tomato;
    border-radius: 20px;
  }
}

.load-more {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  border: transparent;
  background-color: tomato;
  border-radius: 20px;
  button {
    font-size: 1rem;
    color: #fff;
    border: transparent;
    background-color: tomato;
    border-radius: 20px;
  }
}
